<button class="login">
  <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512">
    <title>Log In</title>
    <path d="M192 176v-40a40 40 0 0140-40h160a40 40 0 0140 40v240a40 40 0 01-40 40H240c-22.09 0-48-17.91-48-40v-40"
      fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" />
    <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"
      d="M288 336l80-80-80-80M80 256h272" />
  </svg>
</button>

<video preload="auto" playsinline="true" loop="loop" muted="true" autoplay="autoplay" width="3840" height="2160">
  <source src="https://flakeworks.com/images/home/header.mp4" type="video/mp4" />
</video>

<div class="portfolio-intro">

  <div class="portfolio-logo">

    <div>
      <abbr title="Flakeworks">
        IT
      </abbr>
    </div>

  </div>

</div>

<div class="portfolio-container">

  <div class="portfolio">

    <div class="portfolio-item">

      <div class="item-desc">

        <h2>Front-end</h2>
        <p>Front-end dasturlash kursi foydalanuvchi interfeysini, ya'ni biz brauzerda ko'radigan saytning tashqi qismini
          ishlab chiqishni rejalashtirgan dasturchilarni tayyorlaydi.

          Noldan boshlab to'liq saytlar yaratishgacha! 6 oy, 3 ta katta loyiha</p>
        <a href="/student/reg/front-end" title="Web Design">Ro'yhatdan o'tish</a>

      </div>

      <div class="item-card">

        <div>
          <picture>
            <img src="https://flakeworks.com/images/home/webdesign.png" alt="mushroom" width="400" height="200">
          </picture>
          <div></div>
          <div></div>
        </div>

      </div>

    </div>

    <div class="portfolio-item">

      <div class="item-desc">

        <h2>Back-end</h2>
        <p>Kursda siz murakkab muammolarni qanday hal qilishni o'rganasiz, saytning tubida nima sodir bo'layotganini
          bilib olasiz - so'rovlar, ma'lumotlarni qayta ishlash, Nodejs da dasturlash, veb-serverlar, ma'lumotlar
          bazasidan foydalanish.
          6 oy, 3 ta katta loyiha va jamoada ishlash tajribasi.</p>
        <a href="/student/reg/back-end" title="Print Design">Ro'yhatdan o'tish</a>

      </div>

      <div class="item-card">

        <div>
          <picture>
            <img src="http://privatetechbus.ru/assets/cache_image/files/bacend_1920x1080_28b.jpg" alt="mushroom" width="400" height="200">
          </picture>
          <div></div>
          <div></div>
        </div>

      </div>

    </div>

    <div class="portfolio-item">

      <div class="item-desc">

        <h2>Grafik-dizayn</h2>
        <p>Grafik-dizayn kursi boshlovchilar va reklama agentliklari va o'yin yaratadigan kompaniyalari uchun ichki va
          tashqi me'mor, 3D-modeler va vizualizator kabi kasblarga chipta olishni istaganlar uchun mo'ljallangan.

          Siz atiga 6 oylik kursimizda 3DS MAX va AUTOCAD dasturlarini batafsil o'rganasiz, 3D-sifatli vizualizatsiya va
          modellashtirish vositalarini o'zlashtirasiz, shuningdek professional 3D-mutaxassisi bo'lish uchun barcha
          kerakli ko'nikmalarni egallaysiz.</p>
        <a href="/student/reg/grafik-dizayn" title="Social Media">Ro'yhatdan o'tish</a>

      </div>

      <div class="item-card">

        <div>
          <picture>
            <img src="https://i.pinimg.com/originals/ab/90/08/ab9008981fc360b3deb365f1d3089ab1.jpg" alt="mushroom" width="400" height="200">
          </picture>
          <div></div>
          <div></div>
        </div>

      </div>

    </div>

    <div class="portfolio-item">

      <div class="item-desc">

        <h2>kompyuter-savodxonligi</h2>
        <p>Yangi boshlanuvchilar uchun Shaxsiy kompyuter kurslari boshlang'ich foydalanuvchilarga kompyuterni noldan
          ishlashga o'rgatish uchun mo'ljallangan. Kursda siz Windows operatsion tizimining asosiy tarkibiy qismlari,
          Word matn muharriri va Excel elektron jadvallari bilan tanishasiz. Amaliy darslarning 80% sizga "siz" da
          kompyuter bilan aloqa o'rnatishga imkon beradi. Siz bu kursda boshqa harqanday kursni bemalol organishingiz
          uchun kerak bolgan hamma narsani bilib olasiz!</p>
        <a href="/student/reg/kompyuter-savodxonlik" title="Branding Design">Ro'yhatdan o'tish</a>

      </div>

      <div class="item-card">

        <div>
          <picture>
            <img src="https://i.ytimg.com/vi/w9baPQdsrHo/maxresdefault.jpg" alt="mushroom" width="400" height="200">
          </picture>
          <div></div>
          <div></div>
        </div>

      </div>

    </div>

    <div class="portfolio-item">

      <div class="item-desc">

        <h2>Ingliz-tili</h2>
        <p>o'quv markazida tashkil qilingan Ingliz-tili kurslari barcha turdagi ingliz tili darajalari uchun
          mo'ljallangan bo'lib, har bir bosqichda o'quvchilar o'z darajalariga mos materiallar bilan ta'minlanadi.
          Ingliz-tili kurslarida o'quvchilar nafaqat grammatikaga, balki, o'qish, yozish va eshitish ko'nikmalarida
          ham o'z bilimlarini oshirish imkoniyatiga ega!</p>
        <a href="/student/reg/ingliz-tili" title="Video Editing">Ro'yhatdan o'tish</a>

      </div>

      <div class="item-card">

        <div>
          <picture>
            <img src="https://media.cdnandroid.com/75/ae/99/c9/imagen-basic-english-for-beginners-0big.jpg" alt="mushroom" width="400" height="200">
          </picture>
          <div></div>
          <div></div>
        </div>

      </div>

    </div>

    <div class="portfolio-item">

      <div class="item-desc">

        <h2>Rus-tili</h2>
        <p>Rus tili dunyodagi eng qiyin tillardan biri hisoblanadi. Hollar, kelishiklar, kelishiklar, istisno so'zlar.
          Ko'pgina kattalar uchun bularning barchasini tushunish juda qiyin. Keyin kichik bolalar haqida nima deyish
          mumkin? Bu mo'l-ko'llikni qanday tushunish va shu bilan birga rus tiliga muhabbat uyg'otish kerak? Agar siz
          ushbu savollarning barchasiga javobni bilmasangiz, tashvishlanmang - bizning yuqori malakali o'qituvchilarimiz
          sizga yordam berishdan xursand bo'lishadi!</p>
        <a href="/student/reg/rus-tili" title="Code Examples">Ro'yhatdan o'tish</a>

      </div>

      <div class="item-card">

        <div>
          <picture>
            <img src="https://i.ytimg.com/vi/umCDD60VsUg/maxresdefault.jpg" alt="mushroom" width="400" height="200">
          </picture>
          <div></div>
          <div></div>
        </div>

      </div>

    </div>
    <div class="portfolio-item">

      <div class="item-desc">

        <h2>axloqiy xakerlik va tarmoq xavfsizligi</h2>
        <p>Dunyo doimiy, tez va tez o'zgarmoqda! Biz yashayotgan texnologiyaga asoslangan kelajak va'dalarga, balki
          qiyinchiliklarga ham to'la. Ushbu axloqiy xakerlik kursi haqiqatan ham boshqacha! Siz nima muhimligini bilib
          olasiz va oldinga intilish va ustunlikka erishish uchun ko'nikmalarga ega bo'lasiz.
          Biz sizga bir necha kundan keyin tuzatiladigan va endi ishlamaydigan zaif dasturda qanday qilib ekspluatatsiya
          qilishni o‘rgatmaymiz. Buning o'rniga, sizga uzoq yillar davom etadigan tarmoq xavfsizligi tamoyillarini
          amaliy yondashuvdan foydalangan holda o'rgatamiz</p>
        <a href="/student/reg/cyber-havfsizlik" title="Video Editing">Ro'yhatdan o'tish</a>

      </div>

      <div class="item-card">

        <div>
          <picture>
            <img src="https://www.dgl.ru/wp-content/uploads/2022/04/5f5b549a0df25303058207.jpg" alt="mushroom" width="400" height="200">
          </picture>
          <div></div>
          <div></div>
        </div>

      </div>

    </div>

  </div>

</div>

<script>
  document.querySelector(".login").addEventListener("click", () => {
    window.open("/login")
  })
</script>